body{
    background: url(../image/bg.png);
}
.site{
    font-family: 'Holtwood One SC', sans-serif;
}
.text-logo{
    font-family: 'Holtwood One SC', sans-serif;
    font-size: 50px;
    color: #e7480f;
    text-shadow: 2px 2px #ffd301;
    text-align: center;
    padding: 20px 0;
}

.text-logo span{
    color: #ffd301;
    text-shadow: 0px 0px #ffd301;
}

.nav{
    margin-bottom: 30px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background: #e7480f;
}
.nav>li>a{
    color: #eee;
    font-size: 18px;
    text-shadow: 2px 2px #333;
}
.nav>li>a:focus, .nav>li>a:hover{
    color: #e7480f;
    background: #eee;
}

.thumbnail img{
    background: #ffd301;
}
.price{
    background: #5cb854;
    color: #fff;
    padding: 5px 10px;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 5px;
    box-shadow: 0px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 1px rgba(0,0,0,0.3);
    text-shadow: 2px 2px #333;
    border-radius: 3px;
}
.price::before{
    content: "";
    border: 4px solid transparent;
    border-bottom: 4px solid #4a934a;
    border-left: 4px solid #4a934a;
    position: absolute;
    top: -8px;
    right: 1px;
}
.caption > h4{
    color: #e7480f;
    font-size: 18px;
}
.btn-order{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    background-color: #e7480f;
    text-decoration: none;
    text-shadow: 2px 2px #333;
}
.btn-order:hover, .btn-order:focus{
    color: #fff;
    background-color: #c13c0d;
}
/*admin*/
.admin{
    background-color: #fff;
    padding: 35px;
    border-radius: 10px;
}
.help-inline{
    color: red;
}
